<div class="container-fluid container-tweets">
	<div class="row padded">
		<!-- LEFT SIDEBAR  -->
		<div class="col-md-3 col-xs-3 sidebar-left pull-left">
			<current-account></current-account>
			<!-- FIXME tooltips inside campaign keywords not working  -->
			<campaign-keywords></campaign-keywords>
		</div>

		<!-- TWEET STREAM  -->
		<div class="col-md-6 col-xs-6">
			<tweet-stream></tweet-stream>
		</div>

		<!-- RIGHT SIDEBAR  -->
		<div class="col-md-3 col-xs-3 sidebar-right">
			<tweet-tips></tweet-tips>
		</div>
	</div>
</div>
