<div class="container-fluid">
	<div class="row padded">
		<div class="col-md-2 col-xs-12 sidebar-left pull-left">
			<div ng-include=" 'views/twitter_account/current-account.html' "></div>
		
			<!-- ===== Add a Keyword ===== -->
			<div class="form-group">
				<p class="acc-title">Promotion Keywords</p>
				<ul class="keyword-list" ng-repeat="keyword in keywords">
        	<li >{{keyword.text}}{{getRandom()}}</li>
       	</ul>
			</div>
			<form ng-submit="submitted=true; addKeyword()">
				<div class="form-group">
					<input type="text" ng-model="formKeywordText" required>
				</div>
				<button type="submit" class="btn btn-info">Add</button>
			</form>
			<!-- ====== @end ============= -->
		</div>
		<div class="content">
  		<div ui-view class="col-md-10 col-xs-10"></div>
		</div>
	</div>
</div>
