<img class="col-md-3 float-left" src="http://designmodo.github.io/Flat-UI/img/icons/svg/chat.svg" alt="tweets" />
<h1 class="lead">Tweet Tips</h1>
<hr>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner text-center" role="listbox">
        <div class="item active">
            <h1>Keep Tweets short and sweet</h1>
            <p>
                There’s no magical length for a Tweet, but a recent report by Buddy Media revealed that Tweets shorter than 100 characters get a 17% higher engagement rate.
            </p>
        </div>
        <div class="item">
            <h1>Make it real-time</h1>
            <p>The best way to optimize the timing of your Tweets is to test and learn.</p>
        </div>
        <div class="item">
            <h1>Tweet Often</h1>
            <p>Like timing, Tweet frequency depends on a number of variables such as your audience, purpose and business objectives.</p>
        </div>
    </div>
</div>
<hr>
<!-- <section class="keyphrase-performance text-center">
    <h1>Review Keyphrase Performance</h1>
    <a ng-href="#/reports">
        <img src="http://designmodo.github.io/Flat-UI/img/icons/svg/map.svg" alt="graph" />
    </a>
</section>
<hr> -->
