/* app css stylesheet */
body {
  font-size: 16px; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.menu > li {
  display: inline; }

.menu > li:before {
  content: "|";
  padding-right: 0.3em; }

.menu > li:nth-child(1):before {
  content: "";
  padding: 0; }

/* ========  Custom CSS styles ======== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.navbar-inverse {
  border-radius: 0; }

.navbar-brand {
  cursor: pointer; }

.navbar-custom {
  background: #399ACF;
  border-radius: 0; }

.loading {
  position: relative;
  height: 100%;
  top: 50%; }

.loading:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: transparent no-repeat center 50%;
  background-image: url("components/ajax-loader.gif"); }

.add-space-left {
  margin-left: 10px; }

.add-space-right {
  margin-right: 10px; }

.add-space-bottom {
  margin-bottom: 20px; }

.add-space-top {
  margin-top: 20px; }

.well {
  padding: 15%; }

/* --- Animation --- */
.animate-view-container {
  position: relative;
  min-height: 100%; }

.animate-view.ng-enter,
.animate-view.ng-leave {
  transition: 500ms linear all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee; }

.animate-view.ng-enter {
  opacity: 0;
  z-index: 100; }

.animate-view.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-view.ng-leave {
  opacity: 1;
  z-index: 99; }

.animate-view.ng-leave.ng-leave-active {
  opacity: 0; }

/* --- @end Animation --- */
.container-fluid {
  margin-right: 10px;
  margin-left: 10px; }

.container-fluid .col-md-2 {
  width: 15.666667%; }

.help-block {
  color: #DE462B; }

hr {
  border-top: 1px solid #d8dee5; }

.required {
  color: #c0392b; }

span.glyphicon.glyphicon-asterisk.required {
  font-size: 10px;
  vertical-align: text-top; }

.fake-logo {
  width: 200px;
  height: 200px;
  border: 2px dashed #c8d1db;
  border-radius: 10px;
  padding-top: 20px; }
  .fake-logo .fui-upload {
    font-size: 40px;
    margin-left: 40%;
    color: #c8d1db; }
  .fake-logo p {
    color: #c8d1db;
    font-size: 15px; }

.authorize-twitter-animation.ng-hide-add,
.authorize-twitter-animation.ng-hide-remove {
  -webkit-transition: 0 linear all;
  transition: 0 linear all;
  /* remember to add this */
  display: block !important;
  opacity: 1; }

.authorize-twitter-animation.ng-hide {
  opacity: 0; }

.current-twitter-user {
  margin-top: 20px; }
  .current-twitter-user a {
    border-bottom: 1px solid;
    padding-bottom: 4px; }

.current-twitter-animation.ng-hide-add,
.current-twitter-animation.ng-hide-remove {
  -webkit-transition: 300ms linear all;
  transition: 300ms linear all;
  /* remember to add this */
  display: block !important;
  opacity: 1; }

.current-twitter-animation.ng-hide {
  opacity: 0; }

.company-name p {
  padding: 5px; }
.company-name button {
  margin-top: 10px; }

.setup-title {
  font-size: 25px; }

.setup-steps {
  font-size: 17px; }
  .setup-steps a {
    color: #399acf; }
    .setup-steps a:hover {
      color: #8bc4e3; }
  .setup-steps li {
    display: inline-block;
    margin: 0 40px; }

.details-form option.select-states, .twitter-form option.select-states {
  color: #bdc3c7 !important; }

.business-location {
  position: relative; }

.pac-container {
  top: 1040px !important; }

.description {
  font-size: 12px; }

.goals {
  margin-top: 60px; }

.achieve h2 {
  font-size: 38px; }

span.info {
  cursor: pointer; }

.title {
  font-size: 28px; }

.campaign-name input {
  width: 90% !important; }

.promotion-url input {
  width: 100% !important; }

.campaign-demographics input.address-on-file {
  width: 100% !important; }

.sidebar-left {
  padding: 20px; }
  .sidebar-left .current-account a {
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #16a085; }

.fake-user {
  width: 100px;
  height: 100px;
  background: #e7ebef;
  margin: 0 auto; }

.account-menu {
  background: #e7ebef;
  border-radius: 5px; }
  .account-menu .active {
    background: #d3d6da; }
  .account-menu li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear; }
    .account-menu li:hover {
      background: #d3d6da; }
  .account-menu a {
    font-size: 17px;
    display: block;
    color: #2c3e50;
    padding: 20px; }

/* ============================ ACCOUNT (account settings, billing and emai settings) ========================== */
.account-settings {
  border: 1px solid white;
  border-radius: 5px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.account-status .status-animation {
  padding-left: 150px; }
.account-status .status-content {
  width: 500px;
  margin-top: 20px; }
.account-status .signup .btn {
  width: 300px !important;
  margin-top: 20px;
  margin-left: 100px; }

.acc-info {
  margin-top: 20px; }

.acc-title {
  border-bottom: 1px solid #e7ebef; }

.current-twitter {
  margin: 10px 0; }
  .current-twitter input {
    width: 100%; }

.current-twitter a {
  font-size: 12px;
  position: relative;
  left: 130px;
  top: -25px; }

p.subtitle {
  font-size: 14px; }

.notifications {
  margin-top: 40px; }
  .notifications .receipts {
    margin-right: 200px; }
  .notifications .statements {
    margin-right: 173px; }
  .notifications .subscription {
    margin-right: 105px; }
  .notifications ul input {
    display: block;
    opacity: 0; }
  .notifications ul label {
    width: 60px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -14px;
    background: #F24E4E;
    border-radius: 30px;
    border: 2px solid #fff;
    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s; }
  .notifications ul label:after {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    content: "";
    position: absolute;
    top: -2px;
    background: #FFF;
    border-radius: 10px; }
  .notifications ul input:checked + label {
    background: #27ad5f; }
  .notifications ul input:checked + label:after {
    left: auto;
    right: 0;
    top: -2px; }
  .notifications ul input:checked ~ p:nth-of-type(1) {
    color: #27ad5f;
    display: block; }
  .notifications ul input:not(:checked) ~ p:nth-of-type(2) {
    display: block; }

.copyright {
  padding-top: 10px; }
  .copyright a {
    color: #FFF; }
