<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<p class="acc-title"><strong>Email Notifications:</strong></p>
			<p class="subtitle">Subscribe to daily emails that notify me about Tweets</p>
			<div class="notifications">				
				<ul>
					<li>
						<p class="pull-left receipts">Receive receipts</p>
						<input type="checkbox" id="checkbox1" checked/>
  						<label for="checkbox1"></label>
					</li>
					<li>
						<p class="pull-left statements">Receive statements</p>
						<input type="checkbox" id="checkbox2" checked/>
  						<label for="checkbox2"></label>
					</li>
					<li>
						<p class="pull-left subscription">Receive notifications <br> concerning my subscription</p>
						<input type="checkbox" id="checkbox3" checked/>
  						<label for="checkbox3"></label>
					</li>
				</ul>
				<!-- <section class="pull-left">
					<input type="checkbox" id="checkbox1" checked/>
  				<label for="checkbox1"></label>
				</section>	 -->			
			</div>
		</div>
	</div>
</div>