<div class="container-fluid">
	<div class="row padded">
		<div class="content">

<!-- ========================= CAMPAIGN NAME FORM ================================================   -->

			<form name="externalUrlform" novalidate class="form-inline">
				<!-- +++ Campaign Name +++ -->
				<div class="col-md-12 col-xs-12 form-group campaign-name" ng-include=" 'partials/setup/campaign/campaign_name.html' ">
				</div>

				<!-- +++ Promotion URL +++ -->
				<div class="col-md-12 col-xs-12 form-group promotion-url" ng-include=" 'partials/setup/campaign/promotionurl.html' ">
				</div>

				<!-- ==== CAMPAIGN DEMOGRAPHICS ===== -->

				<!-- +++ Language +++ -->
				<div class="col-md-12 col-xs-12 form-group campaign-demographics">
					<hr>
					<p class="title">Campaign Demographics</p>

					<div class="col-md-3">
						<p>Language <span class="fui-info-circle info" data-toggle="tooltip" data-placement="top" title="What language does your audience speaks?"></span></p>
					</div>
					<div class="col-md-3">
						<label>
					      <input type="radio"  name="language" checked> English
					    </label>
					</div>
					<div class="col-md-3">
						<label>
					      <input type="radio" name="language"> Español
					    </label>
					</div>
					<div class="col-md-3">
						<label>
					      <input type="radio" name="language"> Both
					    </label>
					</div>	
				</div>
				<!-- +++ Audience +++ -->
				<div class="col-md-12 col-xs-12 form-group campaign-demographics">
					<div class="col-md-3">
						<p>Audience <span class="fui-info-circle info" data-toggle="tooltip" data-placement="top" title="Who is your target audience?"></span></p>
					</div>
					<div class="col-md-3">
						<label>
					      <input type="radio" name="audience"> Individuals
					    </label>
					</div>
					<div class="col-md-3">
						<label>
					      <input type="radio" name="audience"> Businesses
					    </label>
					</div>
					<div class="col-md-3">
						<label>
					      <input type="radio" name="audience" checked> Both
					    </label>
					</div>
				</div>

				<!-- ==== Location ===== -->
				<div class="col-md-12 col-xs-12 form-group campaign-demographics" ng-include=" 'partials/setup/campaign/campaign_location.html' ">
				</div>

				<!-- === Business Address ==== -->
				<div class="col-md-12 col-xs-12 form-group campaign-demographics add-space-top" ng-include=" 'partials/setup/campaign/campaign_business_address.html' ">
				</div>

				<!-- === Countries & Cities ==== -->
				<div class="col-md-12 col-xs-12 form-group cities add-space-top">
					<p class="lead text-center">- or -</p>
					<!-- Select Specific Location -->
					<label>
						<input type="radio" name="current-address" ng-click="toggle=!toggle"> Select specific geographic areas like countries and cities.
					</label>
					<div ng-show="toggle">

						<!-- USA  &  MEXICO Select Buttons -->
						<button class="btn btn-info" ng-click="mexico=!mexico" ng-disabled="usa">United States</button>
						<button class="btn btn-primary" ng-click="usa=!usa"ng-disabled="!mexico" ng-model="mexico">Mexico</button>

						<!-- +++++   Input City - Radius Select ++++++ -->
						<div class="select-cities">
							<div class="col-md-12 col-xs-12 add-space-top row">

								<!-- Enter a City Input -->
								<div class="col-md-7 cities no-padding-sides">
									<input type="radio" name="city" checked>
									<input type="text" name="addcity" class="form-control city-input" ng-model="city" placeholder="City" required>
									
									<!-- FIXME! need to be able to add the radius value whenever a new city is added -->
									<select class="form-control" name="radius" ng-model="blah" ng-options="mile.distance for mile in miles">
										<option value="" disabled selected>Radius</option>
									</select>
								</div>


								<!-- Miles & Kilometers switch -->
								<div class="col-md-3 switch pull-left">
									<!-- FIXME! need to be able to switch data to kilometers when switched -->
								    <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
								    <label for="week" class="switch-label switch-label-off">Miles</label>

								    <input type="radio" class="switch-input" name="view" value="month" id="month">
								    <label for="month" class="switch-label switch-label-on">Kilometers</label>
								    <span class="switch-selection"></span>
								</div>


								<!-- Add City - disabled by default -->
								<div class="col-md-2 add-cities">
									<button class="btn btn-primary" ng-disabled="externalUrlform.$invalid" ng-click="addCity()">Add City</button>
								</div>
							</div>

							<!-- Nationwide -->
							<div class="col-md-12 col-xs-12 nationwide add-space-top">
								<input type="radio" name="city"> Nationwide
							</div>

							<!-- Cities List -->
							<div class="col-md-12 col-xs-12 add-space-top cities-list">
								<ul class="list-group">
							    	<a><li class="list-group-item col-md-3 fui-cross-circle" ng-repeat="city in cities" ng-click="removeCity($index)"> {{city | uppercase}}</li></a>
								</ul>
							</div>
							
							<!-- Duplicated City Error -->
							<div ng-include=" 'partials/setup/campaign/error_duplicate_city.html' "></div>
						</div>
					</div>
				</div><!-- @end Countries & Cities  -->
			</form>

			
			<!-- ================ CAMPAIGN KEYWORDS FORM ================= -->
			<form name="keywordsForm" novalidate class="form-inline">
				<div class="col-md-12 col-xs-12 form-group campaign-keywords add-space-top">
					<hr>
					<p class="title">Campaign Keywords</p>
					<p class="bg-info">
						Keywords and key phrases help find people located near your business who are expressing an intent to purchase.
						Add keywords and key phrases that are relevant to your business' products and services for best results.
						<a href data-toggle="modal" data-target="#exampleModal">See example</a>
					</p>
					<!--=============== MODAL ======================  -->
					<!-- FIXME! weird behavior with modal window -->
			       <!--  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
				        <div class="modal-dialog">
				            <div class="modal-content">
				              	<div class="modal-header">
				                	<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
				                	<h4 class="modal-title">Yes or No?</h4>
				              	</div>
				              	<div class="modal-body">
				                	<p>It's your call...</p>
				              	</div>
				              	<div class="modal-footer">
				                	<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
				                	<button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
				              	</div>
				            </div>
				        </div>
			        </div> -->
			        <!-- ========@end Modal ====================================== -->

			        <!-- =============  Campaign Specific Keywords =================== -->
			        <!-- Add a Keyword -->
			        <p class="title">Campaign-Specific Keywords</p>
					<input type="text" name="addkeyword" class="form-control keyword-input" ng-model="keyword" placeholder="Enter a keyword or keyword phrase" required>

					<!-- Add a Keyword -->
					<div class=" col-md-2 col-xs-2 pull-right no-padding-sides">
						<button class="btn btn-primary" ng-click="addKeyword()">Add Keyword</button>
					</div>
					<!-- Campaign-Specific Keywords List -->
					<div class="add-space-top specific-keywords-list">
						<ul class="list-group">
					    	<a><li class="list-group-item col-md-3 fui-cross-circle" ng-repeat="keyword in keywords" ng-click="removeKeyword($index)"> {{keyword | uppercase}}</li></a>
						</ul>
					</div>
					
					<!-- Duplicated Keyword Error -->
					<div ng-include=" 'partials/setup/campaign/error_specific_keyword.html' "></div>

					<!-- =============== Campaign Restricted Keywords ================ -->
			        
			        <p class="title">Restricted Keywords</p>
			        <small>Do not show Tweets containing these keywords and key phrases</small>
					<input type="text" name="addrestrictedKeyword" class="form-control keyword-input" ng-model="restricted" placeholder="Enter a keyword or keyword phrase" required>

					<!-- Add a Restricted Keyword -->
					<div class=" col-md-2 col-xs-2 pull-right no-padding-sides">
						<button class="btn btn-primary" ng-click="addRestrictKeyword()">Add Keyword</button>
					</div>
					<!-- Campaign-Specific Keywords List -->
					<div class="add-space-top restricted-keywords-list">
						<ul class="list-group">
					    	<a><li class="list-group-item col-md-3 fui-cross-circle" ng-repeat="restricted in restrictKeywords" ng-click="removeRestrictKeyword($index)"> {{restricted | uppercase}}</li></a>
						</ul>
					</div>
					
					<!-- Duplicated Restricted Keyword Error -->
					<div ng-include=" 'partials/setup/campaign/error_restricted_keyword.html' "></div>
				</div>
			</form>
		</div>
	</div>
</div>