<p class="title">Location</p>
<div class="col-md-4">
	<label>
		<input type="radio" name="current-address" checked> Use my business address
	</label>
</div>
<div class="col-md-6">
	<input type="text" class="form-control address-on-file" name="addressOnfile" placeholder="2323 Field Street, suite#34 Dallas, Tx, 75098">
</div>
<div class="col-md-2">
	<select class="form-control" name="radius" ng-model="blah" ng-options="mile.distance for mile in miles">
		<option value="" disabled selected>Radius</option>
	</select>
</div>